html {
  font-family: sans-serif;
}

body {
  background: #2c2c2c;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: #ff0062;
  border: 1px solid #a927f5;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

button {
  font: inherit;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
  opacity: 0.8;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  opacity: 1;
}

#normal-attack-btn {
  background: #ff0000;
  border-color: #ff0000;
}

#strong-attack-btn {
  background: #5f0f0f;
  border-color: #5f0f0f;
}

#heal-btn {
  background: #96dd7e;
  border-color: #96dd7e;
}

#log-btn {
  background: #ababab;
  border-color: #ababab;
}

#health-levels,
#controls {
  margin: 2rem auto;
  width: 30rem;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
}

#controls {
  display: flex;
  flex-direction: column;
}

#bonus-life {
  font-weight: bold;
  color: white;
  background: #ff0062;
  border: 1px solid #ff0062;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
}

/* Text Animation */
.splitting {
  cursor: pointer;
}

header .headline {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.9em auto;
}

header .headline .char {
  color: rgba(255, 255, 255, 1);
  transition: opacity 0.2s linear;
}

header .headline .char::before,
header .headline .char::after {
  visibility: visible;
  opacity: 0;
}

header .headline:hover .char {
  color: rgba(255, 255, 255, 0.5);
}

header .headline:hover .char::before,
header .headline:hover .char::after {
  opacity: 0.8;
  animation: blur 0.6s linear infinite alternate;
  animation-delay: calc(-0.2s * var(--distance-percent));
}

header .headline:hover .char::after {
  animation-delay: calc(0.3s + (-0.2s * var(--distance-percent)));
}

@keyframes blur {
  0% {
    transform: translate(-0.1em, 0) scale(0.9) rotate(-2deg);
  }
  50% {
    transform: translate(0, 0) scale(1.1) rotate(0deg);
  }
  100% {
    transform: translate(0.1em, 0) scale(0.9) rotate(2deg);
  }
}
/* End of Text Animation*/

@media screen and (max-width: 600px) {
  #health-levels,
  #controls {
    width: 17rem;
  }
}
